[submodule "userspace"]
	path = userspace
	url = ../pyxis-userland.git
[submodule "ports"]
	path = ports
	url = ../pyxis-ports.git
[submodule "third_party/lwip"]
	path = third_party/lwip
	url = ../pyxis-lwip.git
